/* === GLOBAL SETTINGS === */
$background-color: #F7F7F7;
$text-color: #242424;
$text-color-muted: #626262;
$tint-color: #2A9471;
$tint-color-muted: #E6F7F1;

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
  box-sizing: border-box;
}

body {
  background: $background-color;
  color: $text-color;
  font-size: 16px;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  margin: 0 0 8px 0;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 16px 0;
}

h3 {
  font-size: 22px;
  font-weight: 700;
}

h4 {
  font-weight: 500;
  margin: 0 0 4px;
}

p {
  color: $text-color-muted;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  max-width: 600px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid;
  border-color: $tint-color;
  padding-bottom: 1px;
  transition: padding-bottom 0.3s ease, border-color 0.3s ease, color 0.3s ease;

  &:hover {
    cursor: pointer;
    color: $text-color;
    padding-bottom: 2px;
    border-color: $text-color;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  display: block;
}

button {
  display: inline-block;
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:active {
    color: inherit;
  }
}

.power-links {
  display: block;
  border: none;
  color: $tint-color;
  font-weight: 500;
  font-size: 14px;
  margin-top: 8px;
}

.container {
  width: 95%;
  max-width: 900px;
  margin: auto;
}

.section {
  margin-top: 104px;
}

.card {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.07);
  border-radius: 8px;
}

.emoji-wrapper {
  position: relative;
  display: block;
  font-size: 40px;
  height: 64px;
  width: 100%;
  padding: 9px 0 2px;
  text-align: center;
  background: $tint-color-muted;
}

.milestone p,
.project p {
  font-size: 14px;
  color: $text-color-muted;
}

/* === Navigation bar === */
nav {
  margin-top: 16px;
  padding: 8px 16px;
  text-align: center;

  button,
  li a {
    border: none;
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
    border-radius: 6px;
    background: white;
    font-weight: 600;
    transition: background-color .3s ease;

    &:hover,
    &.active {
      padding-bottom: 8px;
      background-color: $tint-color-muted;
    }
  }

  .navigation-links {
    display: none;
  }

  .expanded.navigation-links {
    display: block;
  }

  @media (min-width: 601px) {
    text-align: left;

    #hamburger {
      display: none;
    }

    .navigation-links {
      display: inline-block;
    }

    li {
      display: inline-block;
      margin-right: 8px;
    }

    li a {
      display: inline-block;
      width: auto;
      padding: 8px;
    }
  }
}

/* === About me === */

.section-about {
  p {
    margin-bottom: 24px;
  }

  h3 {
    margin: 64px auto 40px;
  }
}

.life-events {
  position: relative;

  @media (min-width: 720px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.milestone {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .emoji-wrapper {
    width: 64px;
    border-radius: 50%;
    margin: 0 16px 0 0;

    @media (min-width: 720px) {
      margin: 0 0 8px 0;
    }
  }

  .text-wrapper {
    text-align: left;

    @media (min-width: 720px) {
      text-align: center;
    }
  }

  p {
    margin-bottom: 0;
  }

  @media (min-width: 720px) {
    flex-direction: column;
  }
}

.time-line {
  display: block;
  position: absolute;
  width: 4px;
  height: 100%;
  left: 30px;
  background: $tint-color-muted;

  @media (min-width: 720px) {
    width: calc(100% - 90px);
    height: 4px;
    left: 45px;
    top: 30px;
  }
}
